extends layouts/main

block content
  .user__page#user__page
    h1(style="font-weight: 100;") user page font test
    h1(style="font-weight: 200;") user page font test
    h1(style="font-weight: 300;") user page font test
    h1(style="font-weight: 400;") user page font test
    h1(style="font-weight: 500;") user page font test
    h1(style="font-weight: 600;") user page font test
    h1(style="font-weight: 700;") user page font test
    h1(style="font-weight: 800;") user page font test
    h1(style="font-weight: 900;") user page font test